<div class="footer">
  <div class="footer-links">
    <%= link_to "", "#", class: "fa fa-github" %>
    <%= link_to "", "#", class: "fa fa-instagram" %>
    <%= link_to "", "#", class: "fa fa-facebook" %>
    <%= link_to "", "#", class: "fa fa-twitter" %>
    <%= link_to "", "#", class: "fa fa-linkedin" %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>


